.l-header{
  position: relative;
}
.l-header-inner{
  top: 0;
  padding: 0;
  z-index: 10;
  position: absolute;
  width: 100%;
  background: rgba(0,0,0, 0.7);
  color: white;
  .site-name{
    font-weight: 600;
  }
  a{
    color: white;
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
  .l-header-inner-inner{
    width: 990px;
    height: 80px;
    margin: 0 auto;
  }
}
.l-branding{
  float: left;
  width: 300px;
}
.l-region--header{
  float: right;
  width: 640px;
}
.not-front{
  .l-header-inner{
    position: static;
    background: #000000;
  }
}