/* No files to import found in abstractions/**\/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/base\/_global\.scss}line{font-family:\000031}}
body {
  background: #E5E5E5;
  color: #5E655E;
  min-width: 990px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/base\/_layout\.scss}line{font-family:\000031}}
.l-main {
  margin-top: 20px;
  margin: 20px auto 0;
  width: 990px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/base\/_layout\.scss}line{font-family:\000036}}
.l-two-columns {
  position: relative;
  clear: both;
  float: left;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/base\/_layout\.scss}line{font-family:\0000314}}
.l-col-left {
  float: left;
  width: 200%;
  margin-left: -275px;
  position: relative;
  right: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/base\/_layout\.scss}line{font-family:\0000321}}
.l-content {
  float: left;
  width: 50%;
  position: relative;
  left: 50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/base\/_layout\.scss}line{font-family:\0000326}}
  .l-content .l-content-inner {
    margin: 0 0 0 275px;
    overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/base\/_layout\.scss}line{font-family:\0000331}}
.l-region--sidebar-second {
  float: right;
  width: 260px;
  position: relative;
  left: 275px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/base\/_typography\.scss}line{font-family:\000031}}
a {
  color: #ff00ae;
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/base\/_typography\.scss}line{font-family:\000035}}
a {
  text-decoration: underline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/base\/_typography\.scss}line{font-family:\000038}}
h1, h2, h3, h4 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/base\/_typography\.scss}line{font-family:\0000313}}
.l-content-inner h1 {
  font-size: 2.8em;
  line-height: 1.24em;
  font-weight: 300;
  margin: 0 0 15px;
  color: black;
  text-shadow: 1px 1px 0px #C5C5C5; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/base\/_typography\.scss}line{font-family:\0000321}}
.breadcrumb li {
  font-family: 'Open Sans';
  font-weight: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/_breadcrumb\.scss}line{font-family:\000031}}
.breadcrumb {
  height: 24px;
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/_breadcrumb\.scss}line{font-family:\000036}}
  .breadcrumb li {
    float: left;
    margin-right: 5px;
    list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/_breadcrumb\.scss}line{font-family:\0000311}}
  .breadcrumb li.last {
    margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/_breadcrumb\.scss}line{font-family:\0000316}}
  .breadcrumb li a,
  .breadcrumb li span,
  .breadcrumb li.separator {
    display: block;
    text-transform: uppercase;
    color: #ff00ae;
    text-decoration: none;
    font-size: 1.1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/_breadcrumb\.scss}line{font-family:\0000324}}
  .breadcrumb li span,
  .breadcrumb li.separator {
    color: black; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/_fb-like-box\.scss}line{font-family:\000031}}
#block-block-2 {
  background: white;
  min-height: 271px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/_slider-carrucel\.scss}line{font-family:\000031}}
.l-region--highlighted {
  width: 100% !important;
  min-width: 990px;
  max-height: 472px;
  overflow: hidden;
  margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/_slider-carrucel\.scss}line{font-family:\000038}}
#views_slideshow_cycle_teaser_section_sliderhome-block {
  width: 100% !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/_slider-carrucel\.scss}line{font-family:\0000310}}
  #views_slideshow_cycle_teaser_section_sliderhome-block .views_slideshow_cycle_slide {
    width: 100% !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/_slider-carrucel\.scss}line{font-family:\0000314}}
.node--slider {
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/_slider-carrucel\.scss}line{font-family:\0000316}}
  .node--slider .field--name-field-image {
    height: 472px !important;
    overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/_slider-carrucel\.scss}line{font-family:\0000320}}
  .node--slider .field--name-field-image img {
    width: 100% !important;
    height: 100% !important;
    min-width: 990px;
    min-height: 472px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/_slider-carrucel\.scss}line{font-family:\0000326}}
  .node--slider .info {
    position: absolute;
    bottom: 16px;
    width: 100%;
    left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/_slider-carrucel\.scss}line{font-family:\0000332}}
    .node--slider .info .info_inner {
      width: 990px;
      margin: 0 auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/_slider-carrucel\.scss}line{font-family:\0000335}}
      .node--slider .info .info_inner .info_inner_inner {
        width: 475px;
        background: rgba(0, 0, 0, 0.7);
        color: #FEFEFE;
        padding: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/_slider-carrucel\.scss}line{font-family:\0000342}}
    .node--slider .info a {
      color: #00FEFD; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/_slider-carrucel\.scss}line{font-family:\0000345}}
    .node--slider .info .field--name-field-link {
      margin-right: 10px;
      font-size: 1.2em;
      float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/_slider-carrucel\.scss}line{font-family:\0000350}}
    .node--slider .info .field--name-field-fecha {
      float: left;
      margin-top: 4px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/_slider-carrucel\.scss}line{font-family:\0000354}}
    .node--slider .info .field--name-body {
      clear: both;
      padding-top: 14px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/_slider-carrucel\.scss}line{font-family:\0000358}}
    .node--slider .info .field--name-body p {
      margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/_social-buttons\.scss}line{font-family:\000031}}
#social-buttons {
  height: 20px;
  overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/_social-buttons\.scss}line{font-family:\000035}}
  #social-buttons .fb-like {
    overflow: hidden;
    width: 74px;
    height: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/_tabs\.scss}line{font-family:\000031}}
.tabs--primary {
  margin: 0 10px 0 0;
  border-bottom: none;
  text-align: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/_tabs\.scss}line{font-family:\000035}}
  .tabs--primary li {
    float: none;
    text-align: center;
    display: inline-block;
    margin-right: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/_tabs\.scss}line{font-family:\0000310}}
    .tabs--primary li a {
      border-radius: 5px 5px 0 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/banners\/_banners-eventos\.scss}line{font-family:\000033}}
.page-inicio .l-content .block--imageblock {
  margin: 15px 0;
  height: 142px;
  overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/banners\/_banners-eventos\.scss}line{font-family:\000038}}
.page-inicio .l-content #block-imageblock-4 {
  margin-top: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/footer\/_footer\.scss}line{font-family:\000031}}
.l-footer {
  clear: both;
  color: white;
  border-top: solid 10px #5A5A5A;
  background-color: #393939;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF393939', endColorstr='#FF282828');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #393939), color-stop(100%, #282828));
  background-image: -webkit-linear-gradient(top, #393939 0%, #282828 100%);
  background-image: -moz-linear-gradient(top, #393939 0%, #282828 100%);
  background-image: -o-linear-gradient(top, #393939 0%, #282828 100%);
  background-image: linear-gradient(top, #393939 0%, #282828 100%);
  min-height: 200px;
  height: auto !important;
  height: 200px;
  padding: 20px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/footer\/_footer\.scss}line{font-family:\0000313}}
  .l-footer a {
    color: #00FEFD;
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/footer\/_footer\.scss}line{font-family:\0000317}}
  .l-footer a:hover {
    text-decoration: underline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/footer\/_footer\.scss}line{font-family:\0000321}}
.l-region--footer {
  width: 990px;
  margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/header\/_header\.scss}line{font-family:\000031}}
.l-header {
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/header\/_header\.scss}line{font-family:\000034}}
.l-header-inner {
  top: 0;
  padding: 0;
  z-index: 10;
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/header\/_header\.scss}line{font-family:\0000312}}
  .l-header-inner .site-name {
    font-weight: 600;
    font-size: 2.4em;
    margin: 10px 0 0 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/header\/_header\.scss}line{font-family:\0000317}}
  .l-header-inner a {
    color: white;
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/header\/_header\.scss}line{font-family:\0000321}}
  .l-header-inner a:hover {
    color: #ff00ae; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/header\/_header\.scss}line{font-family:\0000324}}
  .l-header-inner .l-header-inner-inner {
    width: 990px;
    height: 80px;
    margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/header\/_header\.scss}line{font-family:\0000330}}
.l-branding {
  float: left;
  width: 300px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/header\/_header\.scss}line{font-family:\0000334}}
.l-region--header {
  float: right;
  width: 640px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/header\/_header\.scss}line{font-family:\0000339}}
.not-front .l-header-inner {
  position: static;
  background: #000000; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/header\/_main-menu\.scss}line{font-family:\000031}}
#block-system-main-menu {
  margin-top: 34px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/header\/_main-menu\.scss}line{font-family:\000033}}
  #block-system-main-menu ul {
    padding: 0;
    margin: 0;
    list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/header\/_main-menu\.scss}line{font-family:\000037}}
    #block-system-main-menu ul li {
      padding: 0;
      margin: 0 0 0 50px;
      list-style: none;
      float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/header\/_main-menu\.scss}line{font-family:\0000312}}
      #block-system-main-menu ul li a {
        font-size: 20px;
        text-transform: uppercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/header\/_main-menu\.scss}line{font-family:\0000316}}
      #block-system-main-menu ul li a:hover {
        text-decoration: none;
        color: #ff00ae; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/header\/_main-menu\.scss}line{font-family:\0000320}}
      #block-system-main-menu ul li ul {
        display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/header\/_main-menu\.scss}line{font-family:\0000324}}
    #block-system-main-menu ul li.last {
      margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/header\/_main-menu\.scss}line{font-family:\0000327}}
    #block-system-main-menu ul li.active-trail a {
      color: #ff00ae; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/pages\/_eventos\.scss}line{font-family:\000032}}
.page-inicio .l-content h1 {
  display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/pages\/_eventos\.scss}line{font-family:\000035}}
.page-inicio .l-content .block {
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/pages\/_eventos\.scss}line{font-family:\0000310}}
.view-eventos .view-footer {
  clear: both;
  height: 1px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/pages\/_eventos\.scss}line{font-family:\0000315}}
.view-eventos .view-content .views-row {
  float: left;
  width: 209px;
  padding: 10px;
  margin-right: 11px;
  box-sizing: content-box;
  background: #FFFFFF;
  border: #D9D9D9 solid 1px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/pages\/_eventos\.scss}line{font-family:\0000323}}
  .view-eventos .view-content .views-row h3 {
    margin: 0;
    font-weight: normal;
    font-size: 0.95em;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/pages\/_eventos\.scss}line{font-family:\0000329}}
  .view-eventos .view-content .views-row a {
    color: #656764;
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/pages\/_eventos\.scss}line{font-family:\0000333}}
  .view-eventos .view-content .views-row a:hover {
    text-decoration: underline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/pages\/_eventos\.scss}line{font-family:\0000337}}
.view-eventos .view-content .views-row.views-row-last {
  margin-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/pages\/_node-carousel\.scss}line{font-family:\000031}}
.connected-carousels .stage {
  margin-top: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/pages\/_node-pages\.scss}line{font-family:\000032}}
.page-node .l-content-inner h1 {
  margin-bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/pages\/_node-pages\.scss}line{font-family:\000035}}
.page-node .node-date {
  margin-bottom: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.quienfalto\.com\/themes\/qft\/sass\/components\/right\/_sidebar-right\.scss}line{font-family:\000031}}
.l-region--sidebar-second .block {
  margin-bottom: 15px; }
