.l-main{
  margin-top: 20px;
  margin: 20px auto 0;
  width: 990px;
}
.l-two-columns{
  position: relative;
  clear: both;
  float: left;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}
.l-col-left{
  float: left;
  width: 200%;
  margin-left: -275px;
  position: relative;
  right: 100%;
}
.l-content{
  float: left;
  width: 50%;
  position: relative;
  left: 50%;
  .l-content-inner{
    margin: 0 0 0 275px;
    overflow: hidden;
  }
}
.l-region--sidebar-second{
  float: right;
  width: 260px;
  position: relative;
  left: 275px;
}
.l-main-2{
  margin: 0 auto;
  width: 990px;
}