a{
  color: #ff00ae;
  text-decoration: none;
}
a{
  text-decoration: underline;
}
h1, h2, h3, h4{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
}
.l-content-inner h1{
  font-size: 2.8em;
  line-height: 1.24em;
  font-weight: 300;
  margin: 0 0 15px;
  color: black;
  text-shadow: 1px 1px 0px #C5C5C5;
}
.breadcrumb li{
  font-family: 'Open Sans';
  font-weight: normal;
}